In [360]:
import pandas as pd
import numpy as np

In [361]:
df = pd.read_csv("training_data.csv")

/var/folders/3m/shcx361j017gg0_hn0vxk3p00000gn/T/ipykernel_19209/3902838423.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("training_data.csv")

In [362]:
df_macro = pd.read_csv("macro_data.csv")

In [363]:
df["charge_off"].describe()

count    5.758223e+06
mean     2.726188e-03
std      5.214170e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: charge_off, dtype: float64

In [364]:
df["charge_off_aged"].describe()

count    5.758223e+06
mean     2.412550e-03
std      4.905843e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: charge_off_aged, dtype: float64

In [365]:
df["charge_off_bk"].describe()

count    5.758223e+06
mean     3.136384e-04
std      1.770706e-02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.000000e+00
Name: charge_off_bk, dtype: float64

In [366]:
df["fee_chg_off_reversal_amt"].describe()

count    5.758223e+06
mean     1.753527e+00
std      4.902960e+01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.103377e+04
Name: fee_chg_off_reversal_amt, dtype: float64

In [367]:
df["aged_writeoff_amt"].describe()

count    5.758223e+06
mean     4.890264e+00
std      1.478543e+02
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.269057e+04
Name: aged_writeoff_amt, dtype: float64

In [368]:
df_corr = df.corr()
df_corr

/var/folders/3m/shcx361j017gg0_hn0vxk3p00000gn/T/ipykernel_19209/1378791828.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_corr = df.corr()

,financial_active,promotion_flag,variable_rate_index,active_12_mths,charge_off_reason_code,mob,open_closed_flag,ever_delinquent_flg,nbr_mths_due,variable_rate_margin,...,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code
financial_active,1.000000,0.002916,0.002885,0.009093,0.258199,0.000417,-0.002191,0.000705,0.007897,0.001985,...,-4.100951e-04,-0.000381,-0.000470,0.000508,0.000142,0.000409,0.000244,-0.000229,-0.064704,-0.032791
promotion_flag,0.002916,1.000000,0.001908,0.005212,0.408248,-0.000475,-0.001666,0.000179,0.003677,0.000126,...,5.273063e-04,0.000357,0.000448,0.000400,0.000319,0.000002,0.000351,-0.000176,-0.031785,-0.015488
variable_rate_index,0.002885,0.001908,1.000000,0.004285,0.284268,0.000422,0.002410,0.000990,-0.001531,0.000740,...,1.045332e-04,0.000313,0.000904,-0.000294,-0.000224,-0.000632,-0.000270,0.000247,-0.030438,-0.015532
active_12_mths,0.009093,0.005212,0.004285,1.000000,-0.284268,0.000251,0.000761,0.001888,0.003267,0.001046,...,-3.088343e-04,-0.000241,-0.000072,-0.000365,-0.000114,0.000278,0.000250,0.000296,-0.100356,-0.050999
charge_off_reason_code,0.258199,0.408248,0.284268,-0.284268,1.000000,-0.177481,NaN,NaN,-0.113228,1.000000,...,NaN,NaN,NaN,NaN,0.679366,NaN,NaN,NaN,1.000000,0.667781
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
due_balance_6,0.000409,0.000002,-0.000632,0.000278,NaN,-0.000096,-0.001499,-0.000769,0.000609,-0.001015,...,-2.638141e-05,-0.000548,-0.000362,-0.000233,0.000099,1.000000,0.000557,-0.000024,-0.001438,-0.000672
due_balance_7,0.000244,0.000351,-0.000270,0.000250,NaN,0.000218,-0.001162,0.000475,0.001784,-0.001244,...,-2.533048e-05,-0.000002,-0.000350,-0.000029,0.000317,0.000557,1.000000,-0.000023,-0.001764,-0.000689
due_balance_8,-0.000229,-0.000176,0.000247,0.000296,NaN,-0.000217,0.000078,-0.000227,0.001210,0.000749,...,-4.682794e-07,-0.000077,-0.000034,-0.000028,-0.000025,-0.000024,-0.000023,1.000000,-0.000367,0.000426
snapshot,-0.064704,-0.031785,-0.030438,-0.100356,1.000000,-0.006084,-0.026253,-0.011694,0.008681,-0.010086,...,-4.227339e-04,-0.000528,-0.000221,-0.000195,-0.001044,-0.001438,-0.001764,-0.000367,1.000000,0.391483
mth_code,-0.032791,-0.015488,-0.015532,-0.050999,0.667781,-0.004170,-0.013303,-0.005706,0.004583,-0.004442,...,-6.904886e-04,0.000536,-0.000718,-0.000495,-0.000697,-0.000672,-0.000689,0.000426,0.391483,1.000000

In [371]:
df_chargeoff_corr = df_corr[["charge_off"]]

In [155]:
df_chargeoff_corr

                        charge_off
financial_active          0.037885
promotion_flag            0.022438
variable_rate_index      -0.005658
active_12_mths            0.021350
charge_off_reason_code         NaN
...                            ...
due_balance_6             0.002420
due_balance_7             0.007109
due_balance_8            -0.000034
snapshot                 -0.004765
mth_code                 -0.001904

[64 rows x 1 columns]

In [372]:
df_chargeoff_corr_high = df_chargeoff_corr[(df_chargeoff_corr.charge_off > 0.1) & (df_chargeoff_corr.charge_off < -0.1)]

In [157]:
df_chargeoff_corr_high.to_csv("./chargeoff_corr.csv")

In [158]:
df_charge_off = pd.read_csv("output_chargeoff_corr.csv")

In [159]:
df_charge_off_high = df_charge_off[abs(df_charge_off.charge_off) > 0.1]
df_charge_off_high.to_csv("./output_chargeoff_corr_high.csv")

In [374]:
newdf = df.loc[:, ['charge_off',"stmt_balance",  "credit_limit_amt", "active", "financial_active", "ever_delinquent_flg", "open_closed_flag", "fc_reversals", "fee_reversals",
                    'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8', 'mth_code']]
newdf

,charge_off,stmt_balance,credit_limit_amt,active,financial_active,ever_delinquent_flg,open_closed_flag,fc_reversals,fee_reversals,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,mth_code
0,0,34.77,5900.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201807
1,0,0.00,5000.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201906
2,0,0.00,3100.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201905
3,0,0.00,700.0,1,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201806
4,0,0.00,3500.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5758218,0,1288.19,2000.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912
5758219,0,27.08,950.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912
5758220,0,0.00,6100.0,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912
5758221,0,662.81,1000.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912
5758222,0,2877.43,1400.0,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201912

In [375]:
timed_df = newdf.groupby("mth_code").agg(sum)

In [376]:
timed_df["charge_off"]

mth_code
201801       0
201802      78
201803     162
201804     206
201805     294
201806     362
201807     373
201808     431
201809     476
201810     617
201811     695
201812     716
201901     760
201902     853
201903     843
201904     865
201905     953
201906     901
201907     933
201908     921
201909     914
201910    1052
201911    1107
201912    1186
Name: charge_off, dtype: int64

In [377]:
timed_of = timed_df.drop([201801])

In [378]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [379]:
dep1 = timed_df["charge_off"]

In [380]:
ind1 = timed_df[["stmt_balance",  "credit_limit_amt", "active", "financial_active", "ever_delinquent_flg", "open_closed_flag", "fc_reversals", "fee_reversals",
                    'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8']]

In [381]:
model1  = model.fit(ind1, dep1)

In [382]:
df_forecast = pd.read_csv("forecast_starting_data.csv")

In [383]:
newdf_forecast = df_forecast.loc[:, ['charge_off',"stmt_balance",  "credit_limit_amt", "active", "financial_active", "ever_delinquent_flg", "open_closed_flag", "fc_reversals", "fee_reversals",
                    'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8', 'mth_code']]

In [384]:
newdf_forecast["charge_off"].describe()

count    19866.0
mean         0.0
std          0.0
min          0.0
25%          0.0
50%          0.0
75%          0.0
max          0.0
Name: charge_off, dtype: float64

In [385]:
timed_df_forecast = newdf_forecast.groupby("mth_code").agg(sum).reset_index()

In [386]:
timed_df_forecast["charge_off_predict"] = model1.predict(timed_df_forecast[["stmt_balance",  "credit_limit_amt", "active", "financial_active", "ever_delinquent_flg", "open_closed_flag", "fc_reversals", "fee_reversals",
                    'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8']])
timed_df_forecast["charge_off_predict"]

0    14.920852
Name: charge_off_predict, dtype: float64

In [387]:
timed_df["charge_off_predict"] = model1.predict(ind1)

In [388]:
import numpy
timed_df["residual"] = abs(timed_df["charge_off_predict"]-timed_df["charge_off"])

In [397]:
#RMSE
timed_df['residual'].std()

4.814850469322727

In [398]:
timed_df["charge_off"]

mth_code
201801       0
201802      78
201803     162
201804     206
201805     294
201806     362
201807     373
201808     431
201809     476
201810     617
201811     695
201812     716
201901     760
201902     853
201903     843
201904     865
201905     953
201906     901
201907     933
201908     921
201909     914
201910    1052
201911    1107
201912    1186
Name: charge_off, dtype: int64

In [399]:
timed_df.drop([201801])

,charge_off,stmt_balance,credit_limit_amt,active,financial_active,ever_delinquent_flg,open_closed_flag,fc_reversals,fee_reversals,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,charge_off_predict,residual
mth_code,,,,,,,,,,,,,,,,,,
201802,78,3.033828e+07,1.775498e+08,39628,26454.0,4483.0,39301.0,28322.67,18603.97,2216066.10,431785.80,337333.86,285258.40,227811.14,250905.78,0.00,73.260927,4.739073
201803,162,4.566661e+07,2.660652e+08,59300,39247.0,6688.0,58825.0,78317.64,39208.81,3168372.74,623633.79,583897.88,359504.70,331956.97,309386.85,0.00,158.019555,3.980445
201804,206,6.044278e+07,3.554653e+08,78909,51750.0,9051.0,78262.0,76828.26,50470.98,4097632.78,913387.17,595314.05,507002.67,525039.86,548493.68,0.00,207.508068,1.508068
201805,294,7.533348e+07,4.411331e+08,98419,64073.0,11289.0,97617.0,126273.27,68479.46,5119756.58,1105392.38,718495.57,677154.97,518651.42,510969.98,0.00,297.125808,3.125808
201806,362,9.049248e+07,5.278360e+08,117833,75687.0,13190.0,116849.0,151242.74,93071.58,6465786.41,1431195.32,917881.77,885129.81,723884.52,769101.14,0.00,375.754864,13.754864
201807,373,1.060094e+08,6.136538e+08,137220,87928.0,15513.0,135963.0,157346.14,93496.55,7189488.15,1558427.61,1012632.76,902964.32,816590.78,864799.07,0.00,378.181821,5.181821
201808,431,1.207515e+08,7.019269e+08,156548,99590.0,17519.0,155102.0,148669.63,106961.22,8238020.94,2029356.49,1196157.09,1026785.52,1059226.45,893222.24,0.00,420.927404,10.072596
201809,476,1.348762e+08,7.894054e+08,175827,111509.0,19869.0,174158.0,181751.95,129266.25,9261144.38,1909953.89,1364465.65,1081499.12,1220892.67,1024241.91,0.00,495.495394,19.495394
201810,617,1.502094e+08,8.756393e+08,194954,122999.0,21633.0,193121.0,244675.67,156082.32,10053809.91,1968099.75,1608765.00,1328383.89,1138398.95,1180456.63,0.00,616.099779,0.900221
201811,695,1.634092e+08,9.626464e+08,213945,134333.0,23893.0,211987.0,245552.88,181905.54,11281550.39,2238978.44,1911496.67,1469085.13,1322707.77,1244283.07,0.00,685.959489,9.040511
201812,716,1.791601e+08,1.047930e+09,233022,145577.0,25898.0,230752.0,291724.61,181662.28,12163045.40,2691318.50,2014126.47,1606277.42,1394203.96,1387003.29,0.00,722.034710,6.034710
201901,760,1.918892e+08,1.132466e+09,252051,157304.0,28151.0,249536.0,306444.73,186385.55,13222311.55,2854203.29,1990563.02,1687415.21,1501778.65,1525658.21,0.00,750.976835,9.023165
201902,853,2.087110e+08,1.215098e+09,270453,167684.0,30113.0,267700.0,363476.86,214551.98,14366151.20,2974939.48,2100149.10,1769891.90,1796678.92,1611927.99,0.00,846.873768,6.126232
201903,843,2.209934e+08,1.296351e+09,288769,178557.0,31814.0,285527.0,302026.48,209121.19,15232034.59,3201945.41,2143457.19,1939894.85,1692375.06,1676685.52,0.00,830.063166,12.936834
201904,865,2.335034e+08,1.380421e+09,306836,187408.0,33629.0,303314.0,344457.91,216590.61,16421329.86,3108430.06,2325207.50,1992151.69,1905233.39,1619765.33,0.00,864.527050,0.472950
201905,953,2.484737e+08,1.462242e+09,324732,197777.0,35624.0,321036.0,363204.18,249529.75,17099848.95,3554326.14,2604520.96,2128984.91,1832815.71,1852616.88,0.00,961.657877,8.657877
201906,901,2.600444e+08,1.545344e+09,342713,207954.0,37114.0,338561.0,333721.67,228641.01,17664904.72,3473161.95,2840872.44,2326370.30,2054290.53,2093186.07,1141.90,901.377027,0.377027
201907,933,2.754757e+08,1.622162e+09,360691,216921.0,38873.0,356176.0,349107.33,247995.50,19311928.37,3955508.01,2845140.16,2242403.49,2060247.46,1911454.05,0.00,937.542284,4.542284
201908,921,2.894248e+08,1.705751e+09,378634,226928.0,40692.0,373660.0,377477.98,238032.02,19977264.46,4268294.58,3267633.37,2358850.88,2250755.52,2314556.70,0.00,921.261709,0.261709
201909,914,3.040401e+08,1.786873e+09,396499,236710.0,42682.0,391090.0,346183.72,234157.21,21174968.33,4317812.23,3063459.99,2378234.23,2334539.05,2282029.60,0.00,911.941124,2.058876
201910,1052,3.179240e+08,1.867180e+09,414257,246020.0,44290.0,408400.0,401152.37,262438.36,21956326.00,4517905.40,3275604.10,2827184.77,2416605.09,2321121.61,936.52,1058.181244,6.181244
201911,1107,3.320287e+08,1.948070e+09,431918,254768.0,46250.0,425834.0,431668.27,292837.95,23214885.08,4520711.01,3412756.08,2751158.24,2438641.69,2512882.57,2665.28,1104.666517,2.333483
201912,1186,3.467624e+08,2.028894e+09,449471,264289.0,47944.0,442735.0,448815.47,299266.99,24408767.87,5017969.50,3582196.19,2902034.76,2676067.15,2410806.10,0.00,1183.818960,2.181040

In [400]:
print('Intercept: \n', model1.intercept_)
print('Coefficients: \n', model1.coef_)

Intercept:
 -21.64636761362783
Coefficients:
 [-7.76585850e-07  4.40716803e-06  2.28652933e-02  1.07591009e-02
 -1.89951173e-03 -4.85448441e-02  5.61318862e-04  2.63582414e-03
 -5.04249166e-06  9.87193919e-06 -5.60422381e-05  1.29330039e-04
 -1.57923429e-05 -4.29948791e-05 -6.81122069e-03]

In [482]:
df_macro_sel = df_macro[["Mnemonic","M_FLBR.IUSA", "M_FCCALLQ.IUSA"]]
df_macro_sel

,Mnemonic,M_FLBR.IUSA,M_FCCALLQ.IUSA
0,Description,Baseline Scenario (October 2022): Household Su...,Baseline Scenario (June 2020): Consumer Credit...
1,Name,"Household Survey: Unemployment Rate, (%, SA)","Consumer Credit: Total Outstanding, (Bil. USD,..."
2,Source,U.S. Bureau of Labor Statistics (BLS): Current...,U.S. Board of Governors of the Federal Reserve...
3,Native Frequency,MONTHLY,MONTHLY
4,Geography,United States,United States
...,...,...,...
434,8/31/2035,3.937188576,NaN
435,9/30/2035,3.936435187,NaN
436,10/31/2035,3.936477376,NaN
437,11/30/2035,3.937037114,NaN
438,12/31/2035,3.937853289,NaN

In [483]:
df_macro_sel = df_macro_sel.iloc[224:259].reset_index()
df_macro_sel

    index    Mnemonic M_FLBR.IUSA M_FCCALLQ.IUSA
0     224   2/28/2018         4.1     3846.03157
1     225   3/31/2018           4      3858.3419
2     226   4/30/2018           4     3870.93208
3     227   5/31/2018         3.8     3892.72885
4     228   6/30/2018           4     3898.69602
5     229   7/31/2018         3.8     3916.32566
6     230   8/31/2018         3.8     3935.22786
7     231   9/30/2018         3.7     3951.89583
8     232  10/31/2018         3.8     3969.87832
9     233  11/30/2018         3.8     3989.95645
10    234  12/31/2018         3.9     4002.95302
11    235   1/31/2019           4     4020.40933
12    236   2/28/2019         3.8     4036.72463
13    237   3/31/2019         3.8     4049.01325
14    238   4/30/2019         3.6     4066.52437
15    239   5/31/2019         3.6     4081.24996
16    240   6/30/2019         3.6     4093.12995
17    241   7/31/2019         3.7     4116.32611
18    242   8/31/2019         3.7     4131.85575
19    243   9/30/2019         3.5     4142.81702
20    244  10/31/2019         3.6     4156.63253
21    245  11/30/2019         3.6     4164.25831
22    246  12/31/2019         3.6     4185.59013
23    247   1/31/2020         3.5     4194.09824
24    248   2/29/2020         3.5     4213.56334
25    249   3/31/2020         4.4     4202.03319
26    250   4/30/2020        14.7     4133.25398
27    251   5/31/2020        13.2    4114.726788
28    252   6/30/2020          11    4077.282244
29    253   7/31/2020        10.2    4065.795873
30    254   8/31/2020         8.4    4071.344355
31    255   9/30/2020         7.9    4076.687513
32    256  10/31/2020         6.9    4070.240003
33    257  11/30/2020         6.7    4059.044354
34    258  12/31/2020         6.7    4053.864931

In [484]:
df_macro_sel  = df_macro_sel.drop(columns= "Mnemonic")
df_macro_sel  = df_macro_sel.drop(columns= "index")
df_macro_sel

   M_FLBR.IUSA M_FCCALLQ.IUSA
0          4.1     3846.03157
1            4      3858.3419
2            4     3870.93208
3          3.8     3892.72885
4            4     3898.69602
5          3.8     3916.32566
6          3.8     3935.22786
7          3.7     3951.89583
8          3.8     3969.87832
9          3.8     3989.95645
10         3.9     4002.95302
11           4     4020.40933
12         3.8     4036.72463
13         3.8     4049.01325
14         3.6     4066.52437
15         3.6     4081.24996
16         3.6     4093.12995
17         3.7     4116.32611
18         3.7     4131.85575
19         3.5     4142.81702
20         3.6     4156.63253
21         3.6     4164.25831
22         3.6     4185.59013
23         3.5     4194.09824
24         3.5     4213.56334
25         4.4     4202.03319
26        14.7     4133.25398
27        13.2    4114.726788
28          11    4077.282244
29        10.2    4065.795873
30         8.4    4071.344355
31         7.9    4076.687513
32         6.9    4070.240003
33         6.7    4059.044354
34         6.7    4053.864931

In [485]:
b = df_macro_sel.iloc[0 : 22].to_numpy().astype(float)
b

array([[4.10000000e+00, 3.84603157e+03],
       [4.00000000e+00, 3.85834190e+03],
       [4.00000000e+00, 3.87093208e+03],
       [3.80000000e+00, 3.89272885e+03],
       [4.00000000e+00, 3.89869602e+03],
       [3.80000000e+00, 3.91632566e+03],
       [3.80000000e+00, 3.93522786e+03],
       [3.70000000e+00, 3.95189583e+03],
       [3.80000000e+00, 3.96987832e+03],
       [3.80000000e+00, 3.98995645e+03],
       [3.90000000e+00, 4.00295302e+03],
       [4.00000000e+00, 4.02040933e+03],
       [3.80000000e+00, 4.03672463e+03],
       [3.80000000e+00, 4.04901325e+03],
       [3.60000000e+00, 4.06652437e+03],
       [3.60000000e+00, 4.08124996e+03],
       [3.60000000e+00, 4.09312995e+03],
       [3.70000000e+00, 4.11632611e+03],
       [3.70000000e+00, 4.13185575e+03],
       [3.50000000e+00, 4.14281702e+03],
       [3.60000000e+00, 4.15663253e+03],
       [3.60000000e+00, 4.16425831e+03]])

In [486]:
#201802
timed_df_charge_off = timed_df["charge_off"].reset_index()
timed_df_charge_off

    mth_code  charge_off
0     201801           0
1     201802          78
2     201803         162
3     201804         206
4     201805         294
5     201806         362
6     201807         373
7     201808         431
8     201809         476
9     201810         617
10    201811         695
11    201812         716
12    201901         760
13    201902         853
14    201903         843
15    201904         865
16    201905         953
17    201906         901
18    201907         933
19    201908         921
20    201909         914
21    201910        1052
22    201911        1107
23    201912        1186

In [487]:
timed_df_charge_off = timed_df_charge_off.drop(columns="mth_code")

In [488]:
data = []
for i in range(1, 23):
    delta = timed_df_charge_off.iloc[[i + 1]].to_numpy().astype(int) - timed_df_charge_off.iloc[[i]].to_numpy().astype(int)
    delta = delta.item()
    d = {"delta": delta}
    data.append(d)
df_delta = pd.DataFrame(data)
deltamatrix = df_delta.to_numpy()
deltamatrix

array([[ 84],
       [ 44],
       [ 88],
       [ 68],
       [ 11],
       [ 58],
       [ 45],
       [141],
       [ 78],
       [ 21],
       [ 44],
       [ 93],
       [-10],
       [ 22],
       [ 88],
       [-52],
       [ 32],
       [-12],
       [ -7],
       [138],
       [ 55],
       [ 79]])

In [489]:
r = np.dot(b.transpose(), b)

In [490]:
r = numpy.linalg.inv(r)

In [491]:
r = np.dot(np.dot(r, b.transpose()), deltamatrix)
r

array([[ 2.09062051e+01],
       [-7.19262285e-03]])

In [492]:
previous = 14.920852
data = []
for i in range(1, 13):
    predict = previous + np.dot(df_macro_sel.iloc[[22 + i]].to_numpy().astype(float), r)
    month = i + 1
    d = {"accounts_charged_off": predict}
    data.append(d)
    previous = predict
df_result = pd.DataFrame(data)
df_result

      accounts_charged_off
0   [[57.926003033002516]]
1   [[100.79114894291172]]
2   [[162.55481147122853]]
3   [[440.14708953898514]]
4    [[686.5133190479528]]
5    [[887.1552218002039]]
6   [[1071.1547775998765]]
7   [[1217.4832560650761]]
8   [[1353.3202006554825]]
9    [[1468.297314644747]]
10  [[1579.1737136930794]]
11  [[1690.0873663776463]]